// 主题色
$--app-primary-color: #027AFF;
$--app-danger-color: #F56C6C;
$--app-info-color: #F5F7FA;
$--app-notice-color: #B2B2B2;

$--app-hover-color: #F5F7FA;
$--app-selected-color: #E6F2FF;

$--app-active-color: #7ED321;
$--app-light-color: #ffffff;

$--app-form-readonly-bgColor: #FAFAFA;
// 分割线颜色
$--app-split-line-color: #EBEEF5;
// 标准字体颜色
$--app-base-font-color: #303133;
// 提示性文字颜色
$--app-notice-font-color: $--app-notice-color;
// 白色文字颜色
$--app-white-font-color: $--app-light-color;
// 标准背景色
$--app-body-bgColor: #F7F7F7;
// form组件提示文字颜色
$--app-form-placeholder-font-color: $--app-notice-color;
// 标准盒子背景色
$--app-box-bgColor: $--app-light-color;
// 标准盒子阴影
$--app-box-shadow: 0 0 8px 0 #EBEEF5;
// 标准盒子边框色
$--app-box-border-color: #DCDFE6;
$--app-base-border-radius: 2px;
// 标准高度
$--app-base-height: 2.29rem;
// 标准加粗字体
$--app-base-font-weight: bold;
// 标准字体大小
$--app-base-font-size: 0.857rem;
// 标准标题字体大小
$--app-title-font-size: 1rem;
// 大字体大小
$--app-large-font-size: 24px;
// 标准菜单高度
$--app-menu-item-height: 44px;
// 收缩后的菜单的宽度
$--app-menu-collapse-width: 96px;
// 输入框下边框颜色
$--app-input-border-bottom-color: #F2F2F2;
// form-item border color
$--app-form-item-border-color: #F7F7F7;
$--app-tag-bgColor: #F7F7F7;

$--app-content-color: #101010;

$--app-input-border-color: #ebebeb;


